.heroText1 {
  font-size: 62px;
  font-weight: 900;
  margin-top: 200px;
  margin-bottom: 0px;
  color: #383838;
}

.heroText2 {
  font-size: 21px;
  font-weight: 500;
  line-height: 25px;
}

.bgLanding {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://images-cdn.welcomesoftware.com/Zz03ZTY0Mzk3MDhlNDgxMWViYmRmNWY3MjZjM2QxZTdiZg==");
}

.btnHero {
  width: 231px;
  height: 58px;
  border-radius: 29px;
  background-color: #2FA4FF;
  color: white;
  font-size: 24px;
  font-weight: bolder;
  border: none;
  box-shadow: 0px 20px 30px rgba(249, 131, 171, 0.5);
}

.btnHero:hover {
  background-color: #0E185F;
}

.image {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 5px solid #272133;
  margin-top: 20px;
  box-shadow: 0 10px 50px rgb(177, 154, 164);
}

.card-hero {
  display: flex;
  align-items: center;
  text-align: center;
  width: 20rem;
  color: white;
  background-color: #272133 !important;
}

.active {
  background-color: #00C897 !important;
}

.img-city {
  width: 320px !important;
  height: 200px;
}

.btn-choose {
  width: 150px;
  height: 40px;
  border-radius: 40px;
  text-transform: capitalize;
  font-weight: 900;
  cursor: pointer;
}

.btn-choose:hover {
  background-color: greenyellow;
}

.btn-ability {
  width: 200px;
  height: 50px;
  border-radius: 40px;
  background-color: goldenrod !important;
  text-transform: uppercase;
  font-weight: 900;
  cursor: pointer;
}

.btn-back {
  width: 200px;
  height: 50px;
  border-radius: 40px;
  background-color: goldenrod;
  text-transform: uppercase;
  font-weight: 900;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  display: flex;
}

.btn-disable {
  cursor: not-allowed;
  pointer-events: none;
  width: 200px;
  height: 50px;
  border-radius: 40px;
  text-transform: uppercase;
  font-weight: 900;

  color: gray;
  background-color: #ffffff !important;
}

.textBorder {
  border: 5px solid black;
}